
/* bee logo for all other pages */
#beeImg {
    width: 8em;
}

/* navbar bg color, text color and padding for landing page */
nav.navbar.navbar-expand-lg.navbar-dark.bg-light {
    padding-bottom: 5em;
    background-color: #84d0ce !important;
    font-size: 15;
}

/*navbar brand fontsize*/
.navbar-light .navbar-brand{
    font-size: 2rem;
}

#pink {
    background-color: #f75c6a;
}

#yellow {
    background-color: #F7C321;
}

#purple {
    background-color: #947fa0;
}
#blue {
    background-color: #84d0ce;
}
.card-img-top .img-fluid {
    width: 100%;
    height: 15vw !important;
    object-fit: cover;
}
#pink > img {
    width: auto;
    height: 15vw;
    object-fit: cover;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #84d0ce;
    color: white;
    text-align: center;
  }
  #navbarTogglerDemo02 > ul {
      color: black;
  }

